table{
width: 100%;}

td img{width: 100px; height: 100px;}


td {
 border: 2px solid #fff;
  border-right-color: #404040;
  border-bottom-color: #404040;
  background-color: #C0C0C0;
  padding: 8px;
}



body {
  background-color: whitesmoke;  
  font-family: "MS Sans Serif", "Tahoma", sans-serif;
  font-size: 14px;
  width: 70%;
    margin: 0 auto;     

}

.banniere {
  display: block;
  border: 4px ridge #555;
  margin: 20px;
}

p:hover {
  background: navy;
  color: white;
  cursor: pointer;
}

a {
  color: blueviolet;        
  text-decoration: underline;  
  background-color: transparent; 
  padding: 2px 4px;     
  transition: background-color 0.2s;}
  a:hover {
  background-color: navy; 
  color: white;           
  text-decoration: underline; 
}